# Import

In [1]:
import pandas as pd

In [2]:
ts = pd.Series(["tigris", "po", "mantis", "crane", "viper", "monkey"])

## Pandas and Numpy are both built on C

### They are blazing fast

#### They can handle large files

## They are built for data science

In [3]:
ts[2]

'mantis'

In [4]:
ts

0    tigris
1        po
2    mantis
3     crane
4     viper
5    monkey
dtype: object

In [5]:
for index in ts:
    print (index)

tigris
po
mantis
crane
viper
monkey

In [6]:
ts.str.contains('ti')

0     True
1    False
2     True
3    False
4    False
5    False
dtype: bool

In [7]:
ts[ts.str.contains('p')]

1       po
4    viper
dtype: object

In [8]:
ts[~ts.str.contains('p')]

0    tigris
2    mantis
3     crane
5    monkey
dtype: object

In [9]:
ts[ts.str.len() > 5]

0    tigris
2    mantis
5    monkey
dtype: object

In [17]:
ts.where(lambda x: x.str.len()==6)

0    tigris
1       NaN
2    mantis
3       NaN
4       NaN
5    monkey
dtype: object

In [14]:
mask = ts.str.len() > 5
pd.Series(ts[mask], ts.index[mask])

0    tigris
2    mantis
5    monkey
dtype: object

## Changing Values

In [13]:
ts[0] = 'I changed a value'
ts

0    I changed a value
1                   po
2               mantis
3                crane
4                viper
5               monkey
dtype: object

In [18]:
ts[ts.str.contains("t")] = "replace this for t"
ts

0    replace this for t
1                    po
2    replace this for t
3                 crane
4                 viper
5                monkey
dtype: object

In [19]:
pdict = {'a':'val1', 'b':'val2', 'c':'val3'}
dictSeries = pd.Series(pdict)

In [21]:
dictSeries.b

'val2'

## Dataframes

## Multi series array

#### Includes an index

In [22]:
d = {'col1' : pd.Series(['one', 'two', 'three'],index=['a', 'b', 'c']),
      'col2' : pd.Series(['abc', 'def', 'ghi', 'jkl'],index=['a', 'b', 'c', 'd'])}

In [23]:
df = pd.DataFrame(d)

In [29]:
series = pd.Series(df.col1)

In [30]:
series

a      one
b      two
c    three
d      NaN
Name: col1, dtype: object

In [32]:
json = '[{ "id": 1, "first_name": "Efrem", "last_name": "Jory", "email": "ejory0@bloglines.com", "gender": "Male", "ip_address": "188.236.48.65" }, { "id": 2, "first_name": "Tania", "last_name": "Stockman", "email": "tstockman1@spotify.com", "gender": "Female", "ip_address": "246.143.185.178" }, { "id": 3, "first_name": "Kris", "last_name": "Storek", "email": "kstorek2@uol.com.br", "gender": "Female", "ip_address": "116.179.125.159" }, { "id": 4, "first_name": "Willy", "last_name": "Dadswell", "email": "wdadswell3@mapy.cz", "gender": "Female", "ip_address": "226.245.102.20" }, { "id": 5, "first_name": "Becca", "last_name": "Henrion", "email": "bhenrion4@wired.com", "gender": "Female", "ip_address": "63.116.151.183" }]'

In [33]:
jsonDf = pd.read_json(json)

In [34]:
for n in jsonDf:
    print(n)

email
first_name
gender
id
ip_address
last_name

In [48]:
for index, row in jsonDf.iterrows():
    print(row)

ejory0@bloglines.com
tstockman1@spotify.com
kstorek2@uol.com.br
wdadswell3@mapy.cz
bhenrion4@wired.com

In [50]:
jsonFromUrlDf = pd.read_json("https://jsonplaceholder.typicode.com/posts")

In [55]:
jsonFromUrlDf.head()

,body,id,title,userId
0,quia et suscipit\nsuscipit recusandae consequu...,1,sunt aut facere repellat provident occaecati e...,1
1,est rerum tempore vitae\nsequi sint nihil repr...,2,qui est esse,1
2,et iusto sed quo iure\nvoluptatem occaecati om...,3,ea molestias quasi exercitationem repellat qui...,1
3,ullam et saepe reiciendis voluptatem adipisci\...,4,eum et est occaecati,1
4,repudiandae veniam quaerat sunt sed\nalias aut...,5,nesciunt quas odio,1

In [58]:
csvDf = pd.read_csv("MOCK_DATA.csv")

In [59]:
csvDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
id            1000 non-null int64
first_name    1000 non-null object
last_name     1000 non-null object
email         1000 non-null object
gender        1000 non-null object
ip_address    1000 non-null object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [60]:
csvDf.head(20)

,id,first_name,last_name,email,gender,ip_address
0,1,Gael,Rutherfoord,grutherfoord0@earthlink.net,Male,172.174.2.69
1,2,Bertie,Taplow,btaplow1@google.com.hk,Female,231.158.85.219
2,3,Bev,Seleway,bseleway2@flickr.com,Male,57.15.15.196
3,4,Ruby,Milverton,rmilverton3@infoseek.co.jp,Male,237.69.161.174
4,5,Georgy,Hateley,ghateley4@live.com,Male,40.21.228.104
5,6,Aksel,Brinded,abrinded5@trellian.com,Male,246.141.157.110
6,7,Libbie,Hullah,lhullah6@ask.com,Female,156.46.218.68
7,8,Madelena,MacCulloch,mmacculloch7@vk.com,Female,227.100.170.174
8,9,Sigismundo,Batten,sbatten8@eepurl.com,Male,240.188.107.49
9,10,Thurstan,Baughan,tbaughan9@google.es,Male,209.173.30.40
10,11,Marcie,Scaddon,mscaddona@google.ca,Female,25.1.77.20
11,12,Isa,Treece,itreeceb@bizjournals.com,Male,240.50.32.224
12,13,Markos,Forsaith,mforsaithc@tripod.com,Male,231.103.218.130
13,14,Basilio,Roisen,broisend@icio.us,Male,97.5.44.31
14,15,Caroline,Robez,crobeze@jalbum.net,Female,78.182.241.147
15,16,Loria,Birdwhistell,lbirdwhistellf@wisc.edu,Female,228.247.61.192
16,17,Ben,Acland,baclandg@yellowpages.com,Male,5.127.218.188
17,18,Shea,Gronno,sgronnoh@dailymail.co.uk,Male,150.149.126.184
18,19,Josias,Dearn,jdearni@npr.org,Male,144.161.37.123
19,20,Mair,Taile,mtailej@weibo.com,Female,215.140.114.4

In [61]:
csvDf[["last_name", "first_name"]].head(20)

       last_name  first_name
0    Rutherfoord        Gael
1         Taplow      Bertie
2        Seleway         Bev
3      Milverton        Ruby
4        Hateley      Georgy
5        Brinded       Aksel
6         Hullah      Libbie
7     MacCulloch    Madelena
8         Batten  Sigismundo
9        Baughan    Thurstan
10       Scaddon      Marcie
11        Treece         Isa
12      Forsaith      Markos
13        Roisen     Basilio
14         Robez    Caroline
15  Birdwhistell       Loria
16        Acland         Ben
17        Gronno        Shea
18         Dearn      Josias
19         Taile        Mair

In [62]:
excelDf = pd.read_excel("MOCK_DATA.xlsx")

In [63]:
excelDf.head(20)

,id,first_name,last_name,email,gender,ip_address,animal_name
0,1,Renee,Keemar,rkeemar0@homestead.com,Female,204.64.230.229,Water monitor
1,2,Marcel,Grimsell,mgrimsell1@ucoz.com,Male,78.65.112.204,Kafue flats lechwe
2,3,Abelard,Form,aform2@soundcloud.com,Male,144.30.193.192,Rock dove
3,4,Osmond,Luca,oluca3@timesonline.co.uk,Male,69.248.71.82,Woodchuck
4,5,Oren,Joss,ojoss4@ask.com,Male,122.67.43.241,Tasmanian devil
5,6,Cullin,Reihill,creihill5@barnesandnoble.com,Male,228.5.8.248,Striped hyena
6,7,Nikki,Harsent,nharsent6@topsy.com,Female,151.54.172.166,"Kangaroo, eastern grey"
7,8,Giraldo,Gibben,ggibben7@tripod.com,Male,215.98.31.51,"Hornbill, yellow-billed"
8,9,Junina,Breslane,jbreslane8@alexa.com,Female,245.4.15.161,"Weaver, chestnut"
9,10,Marcile,Bryan,mbryan9@umich.edu,Female,199.235.124.239,"Bustard, denham's"
10,11,Cristabel,Espadate,cespadatea@google.pl,Female,47.17.255.54,Gray duiker
11,12,Sanson,Drayn,sdraynb@state.tx.us,Male,105.233.194.204,"Owl, great horned"
12,13,Gawain,Basillon,gbasillonc@amazon.com,Male,198.70.243.186,Magistrate black colobus
13,14,Devinne,Spelwood,dspelwoodd@msu.edu,Female,157.177.216.132,Yellow-billed hornbill
14,15,Hamlen,Old,holde@facebook.com,Male,219.215.117.199,"Ibis, sacred"
15,16,Izaak,Males,imalesf@pbs.org,Male,91.88.11.33,Common dolphin
16,17,Drake,Zollner,dzollnerg@washingtonpost.com,Male,85.20.15.18,"Porcupine, tree"
17,18,Loella,Buttrum,lbuttrumh@latimes.com,Female,6.189.27.55,"Lizard, desert spiny"
18,19,Goddard,McGreil,gmcgreili@last.fm,Male,146.122.15.75,"Turtle, snake-necked"
19,20,Kellina,Gather,kgatherj@blogger.com,Female,8.150.52.58,Ostrich

In [64]:
excelDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
id             1000 non-null int64
first_name     1000 non-null object
last_name      1000 non-null object
email          1000 non-null object
gender         1000 non-null object
ip_address     1000 non-null object
animal_name    1000 non-null object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [77]:
list = ("jungle", "cat", "owl")
join = "|".join(list)
excelDf[excelDf.animal_name.str.match('Jungle cat')]

,id,first_name,last_name,email,gender,ip_address,animal_name
91,92,Joceline,Bartolomeazzi,jbartolomeazzi2j@webmd.com,Female,151.223.215.78,Jungle cat
927,928,Gustave,Peachment,gpeachmentpr@tinyurl.com,Male,116.178.78.110,Jungle cat

In [96]:
excelDf[excelDf["animal_name"].str.match('Jungle cat')]["animal_name"]= 'aaPanda Kung foo Dragon Warrior'

In [97]:
excelDf.sort_values(by=["animal_name"])

,id,first_name,last_name,email,gender,ip_address,animal_name
885,886,Christean,Connow,cconnowol@prlog.org,Female,208.47.170.111,Aardwolf
879,880,Othilie,Shermore,oshermoreof@jimdo.com,Female,209.66.171.60,Adouri (unidentified)
807,808,Betta,Crockley,bcrockleymf@go.com,Female,231.209.101.212,Adouri (unidentified)
867,868,Claiborn,Doche,cdocheo3@baidu.com,Male,242.141.195.144,African darter
285,286,Corny,Gregoraci,cgregoraci7x@g.co,Female,63.19.0.231,African darter
930,931,Stephine,Keford,skefordpu@discuz.net,Female,145.205.180.32,African fish eagle
743,744,Saidee,Loton,slotonkn@blogger.com,Female,197.103.119.228,African fish eagle
364,365,Marianne,Vignal,mvignala4@kickstarter.com,Female,144.73.140.195,African ground squirrel (unidentified)
390,391,Roosevelt,Houseman,rhousemanau@java.com,Male,199.6.193.203,African jacana
751,752,Brandtr,Cardenas,bcardenaskv@nydailynews.com,Male,109.3.168.77,African polecat
322,323,Elsworth,Hadgkiss,ehadgkiss8y@yale.edu,Male,205.18.128.220,African porcupine
305,306,Doll,Hagland,dhagland8h@addtoany.com,Female,131.254.77.164,African red-eyed bulbul
804,805,Jewelle,Petrakov,jpetrakovmc@privacy.gov.au,Female,99.200.35.227,African skink
56,57,Ilario,Vearnals,ivearnals1k@amazon.com,Male,17.168.236.167,African skink
900,901,Oran,Shotboult,oshotboultp0@yellowpages.com,Male,80.94.109.128,African snake (unidentified)
836,837,Guntar,McComish,gmccomishn8@cam.ac.uk,Male,15.33.1.243,African wild cat
988,989,Colly,Wickrath,cwickrathrg@dion.ne.jp,Female,23.13.150.41,Agile wallaby
464,465,Eudora,Davydenko,edavydenkocw@chronoengine.com,Female,217.58.215.90,Agouti
777,778,Martyn,Sivess,msivessll@state.tx.us,Male,97.64.145.78,"Albatross, galapagos"
329,330,Melania,Leathard,mleathard95@google.nl,Female,14.69.29.107,"Albatross, galapagos"
660,661,Hetty,Cours,hcoursic@sohu.com,Female,32.20.48.190,"Albatross, waved"
137,138,Hadley,Cudbird,hcudbird3t@google.pl,Male,237.93.178.54,"Alligator, american"
332,333,Tiertza,Marzellano,tmarzellano98@va.gov,Female,73.252.196.49,American beaver
978,979,Cornall,O'Gormally,cogormallyr6@booking.com,Male,236.125.203.249,American beaver
795,796,Lilah,De Roos,lderoosm3@mayoclinic.com,Female,55.83.21.83,American bison
27,28,Norbert,Clever,ncleverr@sciencedaily.com,Male,16.138.191.78,American crow
875,876,Kalindi,Mussared,kmussaredob@google.es,Female,2.41.111.232,American racer
183,184,Lucretia,MacKenney,lmackenney53@boston.com,Female,103.246.203.76,American woodcock
686,687,Sharia,Conwell,sconwellj2@google.nl,Female,242.170.24.255,Ant (unidentified)
300,301,Portia,Drewitt,pdrewitt8c@nature.com,Female,238.159.49.12,"Antechinus, brown"
...,...,...,...,...,...,...,...
175,176,Weylin,Froggatt,wfroggatt4v@sbwire.com,Male,163.232.0.180,Wild boar
92,93,Clarie,Idle,cidle2k@springer.com,Female,39.87.134.189,Wild turkey
134,135,Tine,Ovett,tovett3q@tamu.edu,Female,86.9.169.115,"Wildebeest, blue"
476,477,Carroll,Messiter,cmessiterd8@spiegel.de,Male,117.59.224.34,Wolf spider
987,988,Kayne,Carp,kcarprf@bluehost.com,Male,253.113.37.33,"Wolf, common"
108,109,Lindsey,Heatly,lheatly30@wordpress.com,Male,163.95.103.166,"Wolf, mexican"
344,345,Dee,Gorring,dgorring9k@mayoclinic.com,Female,45.57.103.174,"Wombat, common"
3,4,Osmond,Luca,oluca3@timesonline.co.uk,Male,69.248.71.82,Woodchuck
844,845,Whitman,Gunther,wguntherng@independent.co.uk,Male,243.219.108.55,"Woodpecker, downy"
277,278,Morty,Talton,mtalton7p@icq.com,Male,97.149.13.186,"Woodpecker, red-headed"
606,607,Cleavland,Pennoni,cpennonigu@macromedia.com,Male,229.79.157.146,"Woodpecker, red-headed"
577,578,Renate,Shields,rshieldsg1@nationalgeographic.com,Female,4.82.94.119,"Woodpecker, red-headed"
100,101,Hasheem,Nucciotti,hnucciotti2s@uiuc.edu,Male,180.67.193.98,Yak
863,864,Norbert,McNevin,nmcnevinnz@histats.com,Male,251.192.159.171,Yellow baboon
636,637,Thurstan,Dymidowski,tdymidowskiho@cafepress.com,Male,64.172.63.36,Yellow baboon
162,163,Kirsteni,Riddall,kriddall4i@goo.gl,Female,108.165.212.3,Yellow mongoose
600,601,Noreen,Wittman,nwittmango@eepurl.com,Female,135.225.143.69,Yellow-bellied marmot
226,227,Bree,Bradburn,bbradburn6a@abc.net.au,Female,68.184.40.77,Yellow-bellied marmot
13,14,Devinne,Spelwood,dspelwoodd@msu.edu,Female,157.177.216.132,Yellow-billed hornbill
291,292,Darcy,Gurton,dgurton83@guardian.co.uk,Male,43.212.31.11,Yellow-billed stork
782,783,Nathanial,Karsh,nkarshlq@eventbrite.com,Male,158.62.60.215,Yellow-billed stork
994,995,Roberto,Purslow,rpurslowrm@constantcontact.com,Male,229.159.28.233,Yellow-billed stork
632,633,Catina,Flatman,cflatmanhk@reverbnation.com,Female,138.26.77.62,Yellow-crowned night heron
281,282,Kelby,Bratchell,kbratchell7t@wikipedia.org,Male,46.106.169.31,Yellow-headed caracara
75,76,Silvan,Mabbutt,smabbutt23@fotki.com,Male,135.106.109.33,Yellow-throated sandgrouse
966,967,Erick,Aldrin,ealdrinqu@digg.com,Male,243.159.84.165,Yellow-throated sandgrouse
973,974,Buckie,Crosdill,bcrosdillr1@usnews.com,Male,26.96.91.43,"Zebra, common"
262,263,Tymon,Covely,tcovely7a@google.es,Male,51.71.150.91,"Zebra, plains"
720,721,Minetta,Fender,mfenderk0@nps.gov,Female,54.112.189.126,"Zorro, azara's"
515,516,Allison,Wibberley,awibberleyeb@go.com,Female,118.40.159.78,"Zorro, azara's"